@(teamMember: models.TeamMember)
@import java.time.LocalDate

@page(teamMember.name + " vote for today " + LocalDate.now()) {

  <p>
  @teamMember.firstName, hur känns det att komma till jobbet idag?
  </p>
  <ol>
    <li><a href="@routes.Votes.vote(teamMember.id, 1)">Uschligt</a></li>
    <li><a href="@routes.Votes.vote(teamMember.id, 2)">Naje</a></li>
    <li><a href="@routes.Votes.vote(teamMember.id, 3)">Ok</a></li>
    <li><a href="@routes.Votes.vote(teamMember.id, 4)">Kul</a></li>
    <li><a href="@routes.Votes.vote(teamMember.id, 5)">Fantastiskt!</a></li>
  </ol>

}